:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #4a97cb;
    --toastify-color-success: #499e4c;
    --toastify-color-warning: #dec14f;
    --toastify-color-error: #d25c4e;
}
