main {
    min-height: calc(100vh - 48px);
}

.fc .fc-toolbar.fc-header-toolbar {
    padding: 10px 10px 0px 80px;
    margin-bottom: 12px;
    .fc-toolbar-title {
        font-size: 12px;
    }
    .fc-toolbar-chunk button {
        font-size: 12px;
    }
}

.fc-h-event {
    background-color: #fff;
    border: #fff;

    svg {
        color: gray;
    }
}

.total {
    h5 {
        color: red;
        letter-spacing: 2px;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
    svg {
        height: 38px;
        width: 38px;
    }
}

.shadow-text {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
