:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #4a97cb;
    --toastify-color-success: #499e4c;
    --toastify-color-warning: #dec14f;
    --toastify-color-error: #d25c4e;
}

.fc .fc-toolbar.fc-header-toolbar {
    padding: 10px 10px 0px 80px;
    margin-bottom: 12px;
    .fc-toolbar-title {
        font-size: 12px;
    }
    .fc-toolbar-chunk button {
        font-size: 12px;
    }
}

.fc-h-event {
    background-color: #fff;
    border: #fff;

    svg {
        color: gray;
    }
}

.total {
    h5 {
        color: red;
        letter-spacing: 2px;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
    svg {
        height: 38px;
        width: 38px;
    }
}

.shadow-text {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
